{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @param type: success, warning, danger
}}

<div class="block-edutrader">
    <p>{{#str}} yourcredit, block_edutrader, { "credit": {{#quote}}{{credit}}{{/quote}} }{{/str}}</p>
    {{#credit}}
    <p>
        <a href="{{wwwroot}}/blocks/edutrader/stock.php?courseid={{courseid}}" class="btn btn-primary btn-block">
            {{#str}} go_have_fun, block_edutrader {{/str}}
        </a>
    </p>
    {{/credit}}
    {{#istrainer}}{{#isediting}}
    <p>
        <a href="{{wwwroot}}/blocks/edutrader/coursesettings.php?courseid={{courseid}}" class="btn btn-secondary btn-block">
            {{#str}} settings {{/str}}
        </a>
    </p>
    {{/isediting}}{{/istrainer}}
</div>
