{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @param type: success, warning, danger
}}

<div class="block-edutrader">
    <p>{{#str}} youareabouttolaunch, block_edutrader, { "price": {{#quote}}{{itemprice}}{{/quote}}, "title": {{#quote}}{{itemtitle}}{{/quote}}, "duration_human": {{#quote}}{{itemduration_human}}{{/quote}} }{{/str}}</p>
    <p>{{#str}} yourcredit, block_edutrader, { "credit": {{#quote}}{{credit}}{{/quote}} }{{/str}}</p>
    <form method="POST" enctype="multipart/form-data" target="_blank" onsubmit="setTimeout(function() { top.location.href = '{{wwwroot}}/blocks/edutrader/stock.php?courseid={{courseid}}';}, 100);">
        <input type="hidden" name="courseid" value="{{courseid}}" />
        <input type="hidden" name="redeem" value="1" />
        <button type="submit" class="btn btn-block btn-secondary">
            {{#str}} redeem, block_edutrader {{/str}}
        </button>
    </form>
    <br />
    <p style="text-align: center;">
        <img src="{{itempicture}}" alt="{{#str}} preview {{/str}}" width="80%" />
    </p>
</div>
