{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @param type: success, warning, danger
}}

<div class="block-edutrader">
    <p>{{#str}} yourcredit, block_edutrader, { "credit": {{#quote}}{{credit}}{{/quote}} }{{/str}}</p>
    {{#hassessions}}
        <p>{{#str}} proceed_session, block_edutrader {{/str}}</p>
        <ul>
            {{#sessions}}
            <li>
                <a href="{{wwwroot}}/local/edutrader{{item}}/item/" target="_blank">
                    {{title}}
                </a>
                <span style="float: right;">{{timeleft_readable}}</span>
            </li>
            {{/sessions}}
        </ul>
    {{/hassessions}}
    <div class="stock">
        {{#items}}
        <div class="stock-item"
            style="background-image: url({{picture}});">
            <a class="footer btn btn-block btn-secondary{{^canpurchase}} disabled{{/canpurchase}}"
                {{#canpurchase}}href="{{wwwroot}}/local/edutrader{{itemid}}/item/"{{/canpurchase}}>
                <span class="title">{{title}}</span>
                <!--
                <span class="price">{{price}} FNS</span>
                <span class="duration">{{duration_human}}</span>
                -->
            </a>
        </div>
        {{/items}}
    </div>
</div>
